@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    outline: none;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(img/background.png);
    background-position: center center;
    background-size: cover;
}

div#container{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
}

input#input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

button#btn-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #fff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

button#btn-add-task:hover{
    opacity: 0.8;
}

button#btn-add-task:active{
    opacity: 0.6;
}

ul#list-task{
    width: 100%;
    list-style-type: none;
    margin-top: 30px;
}

li.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.247) ;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}



img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

li.task:hover img{
    opacity: 1;
}

li.ok{
    background-color: #8fac55;
    text-decoration: line-through;
}
